<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{#each dbArticle}}
            <a class="artmain" href="/article_details/{{this._id}}">
                <div class="article" data-id="{{this._id}}">
                    <h4>{{this.title}}</h4>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>